@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif; 
}
body{
    background-color: rgb(230, 230, 230);
}
h1 {
    text-align: center;
    margin-top: 100px;
}

.caja1 a {
  text-decoration: none;
  color: black;
}
.caja2 a {
    text-decoration: none;
  color: white;
}
.caja1 {
    display: flex;
    gap: 60px;
    display:flex;
    /* cuando se pone el display flex por defecto se pone el valor row. */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.caja2 {
    display: flex;
    gap: 60px;
    display:flex;
    /* cuando se pone el display flex por defecto se pone el valor row. */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.caja3 {
    text-align: center;
    color: black;
    
}

.caja4 {
    margin-top: 10px;
    text-align: center;
}